<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li >
        <a href="/"><span class="glyphicon glyphicon-home"></span>Address Book App</a>
      </li>
      <li class="active">
        <a href="/api"><span class="glyphicon glyphicon-user"></span>Address-Book Docs</a>
      </li>
      <li>
      </li>
    </ul>
    <div class="position-relative">
        <div class="fa-wrapper">
          <a href="https://github.com/mauriciolealmx">
            <i class="fa fa-github-alt font-size-22" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/mauriciolealmx/">
            <i class="fa fa-linkedin-square font-size-22" aria-hidden="true"></i>
          </a>
          <a href="mailto:mauriciolealmx@gmail.com?subject=Hi Mauricio" target="_blank">
            <i class="fa fa-envelope-o font-size-22" aria-hidden="true"></i>
          </a>
        </div>
    </div>
  </div>
</nav>
