<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <h1>404</h1>
      <h4>Not Found</h4>
    </div>
    <% include ../partials/scripts.ejs %>
  </body>
</html>
